@use '../utils' as *;


//===============21. FAQ CSS START HERE ================

.bd-faq {
    $self: &;

    &-2 {
        ul {
            li {
                list-style-type: none;
                margin: 0 50px;
                position: relative;
                padding-inline-start: 50px;
                padding-inline-end: 20px;

                @media #{$sm,$xs} {
                    margin: 0 0;
                    padding-inline-end: 10px;
                }

                &::before {
                    content: "";
                    position: absolute;
                    height: 90%;
                    width: 1px;
                    background-color: var(--bd-grey-1);
                    inset-inline-start: 16px;
                    top: 50px;
                }
            }
        }
    }

    &-number {
        position: absolute;
        top: 0;
        inset-inline-start: 0;
        height: 32px;
        width: 32px;
        line-height: 32px;
        text-align: center;
        background-color: var(--bd-theme-2);
        color: var(--bd-common-white);
        border-radius: 50%;
        top: 2px;
    }

    &-title {
        font-size: 16px;
        font-weight: 500;
        line-height: 2;
        text-transform: uppercase;
        margin-bottom: 15px;
    }

    &-area {
        &.active-anim {
            & #{$self} {
                &-thumb {
                    @include transition(.5s);
                    filter: drop-shadow(0px 10px 0 var(--bd-theme-2));

                    img {
                        @include transition(.5s);
                    }
                }
            }
        }
    }

    //faq accordion css
    .accordion {
        &-item {
            border: 1px solid var(--bd-grey-1);
            margin-bottom: 25px;
            border-radius: 16px;

            &:first-of-type .accordion-button {
                border-radius: 16px;
            }

            &:last-of-type {
                .accordion-button.collapsed {
                    border-width: 1px;
                    border-radius: 16px;
                }

                margin-bottom: 0;
            }
        }

        &-button {
            border-radius: 16px;
            padding: 15px 25px;
            height: 72px;
            font-size: 16px;
            font-weight: var(--bd-fw-medium);
            color: var(--bd-common-black);
            text-transform: uppercase;
            padding-inline-end: 8px;
            justify-content: space-between;
            text-align: left;
            background: var(--bd-common-white);
            text-transform: capitalize;
            position: relative;
            padding-inline-end: 60px;


            &::after {
                content: "\f067";
                background-image: none;
                font-family: "font awesome 5 pro";
                font-size: 14px;
                font-weight: 400;
                height: 28px;
                width: 28px;
                border: 1px solid var(--bd-common-black);
                line-height: 26px;
                border-radius: 50%;
                margin-inline-start: 0;
                margin-inline-end: 18px;
                text-align: center;
                color: var(--bd-common-black);
                position: absolute;
                inset-inline-end: 0px;
                top: 50%;
                transform: translateY(-50%);
            }

            &:not(.collapsed) {
                background-color: var(--bd-theme-2);
                color: var(--bd-common-white);
                box-shadow: none;

                &::after {
                    border-color: var(--bd-common-white);
                    background: var(--bd-common-white);
                    content: "\f068";
                    color: var(--bd-common-black);
                }
            }

            &:focus {
                box-shadow: none;
            }
        }

        &-body {
            padding: 21px 25px 11px;

            p {
                font-size: 18px;
            }
        }
    }

    &-thumb {
        display: inline-flex;

        img {
            width: 100%;
        }

        &-mask {
            -webkit-mask-image: url(../img/shape/wave-mask.svg);
            mask-image: url(../img/shape/wave-mask.svg);
            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
            -webkit-mask-size: contain;
            mask-size: contain;
            display: inline-flex;

            @media #{$md,$sm,$xs} {
                -webkit-mask-position: center;
                mask-position: center;
            }
        }

        &-wrapper {
            position: relative;
        }
    }

    &-shape {
        position: absolute;
        right: 150px;
        bottom: -90px;
        animation: rotate 3s infinite alternate;
        transform-origin: -0px -280px;

        @media #{$lg} {
            right: 100px;
            transform-origin: -0px -260px;
        }
    }

    &-content {
        margin-inline-end: 86px;

        @media #{$xl,$lg,$md} {
            margin-inline-end: 20px;
        }

        @media #{$sm,$xs} {
            margin-inline-end: 0;
        }

        &-2 {
            margin-inline-end: 40px;

            @media #{$lg,$md} {
                margin-inline-end: 20px;
            }

            @media #{$sm,$xs} {
                margin-inline-end: 0;
            }
        }

        &-3 {
            border-bottom: 1px solid var(--bd-grey-1);
            padding-bottom: 15px;
        }

        &-4 {
            margin-inline-end: 0;
            padding: 0 40px;

            @media #{$lg,$md} {
                padding: 0 10px;
            }

            @media #{$sm,$xs} {
                padding: 0;
            }
        }
    }

}

// FAQ CSS END HERE