$colors: (
    common: ("white": #FFFFFF,
        "black": #1B1B1B,
    ),
    heading: ("primary": #1B1B1B,
    ),
    grey: ("1":#E6E6E6,
        "2":#E9CFCF,
    ),
    text: ("body":#424242,
        "1":#000,
    ),
    theme: ("1": #00BBAE,
        "2":#FF9B24,
        "3":#FF577B,
        "4":#FFF8EB,
        "5":#FFA455,
        "6":#FFF6EB,
        "7":#EBFFFE,
        "8":#FFECD6,
        "9":#FF7C7C,
        "10":#7C81FF,
        "11":#00B9F1,

    ),
);